/*.zip
/*.txt

learning_code/
TrafficSign_Detection/
installTFOD/

# simulation
simulation/beta_simulator_windows
simulation/dataset/*
!simulation/dataset/README.md
simulation/models/*
!simulation/models/simulation_model.h5

# implementation
implementation/dataset/*
!implementation/dataset/README.md
implementation/models/plot_history.py
implementation/models/train_history_left.csv
implementation/models/train_history_right.csv
implementation/models/train_history_straight.csv
implementation/test_data
implementation/dataset_join.py
implementation/video_writer.py
